
<div class="container mt-5">
  <div class="container">
  <button type="button" class="btn btn-info btn-lg" (click)="openModal()" data-toggle="modal" data-target="#myModal">Add Task</button>
 <br><br> <table class="table table-bordered mt-3">
    <thead>
      <tr>
        <th style="width: 75%;">Task</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of todoList; let i = index">
        <td>{{task.task}}</td>
        <td *ngIf="task.done=='true'">Complete</td>
        <td *ngIf="task.done=='false'">Incomplete</td>
        <td>
          <button type="button"(click)="update(i)" data-toggle="modal" data-target="#myModal" class="btn btn-primary">Update</button>&nbsp;
          <button type="button" (click)="delete(i)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Task</h4>
      </div>
      <div class="modal-body">
        <div class="">
          <div class="">
            <form [formGroup]="todoListForm" class="common-form">
              <input type="text" class="form-input" placeholder="Add task" formControlName="task" />
              <select class="form-control" placeholder="afs" formControlName="done">
                <option value=''>Select</option>
                <option value="true">Complete</option>
                <option value="false">Incomplete</option>
              </select>
            </form>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" *ngIf="isAdd" [disabled]="!todoListForm.valid" (click)="addTask()" class="btn btn-default" style="background-color: rgb(116, 249, 116);" data-dismiss="modal">Add Task</button>
        <button type="button" *ngIf="!isAdd" [disabled]="!todoListForm.valid" (click)="updateTask()" class="btn btn-default" style="background-color: rgb(116, 249, 116);" data-dismiss="modal">Update Task</button>
        <button type="button" (click)="reset()" class="btn btn-default" style="background-color: rgb(111, 251, 111);" >Reset</button>
        <button type="button" (click)="reset()" class="btn btn-default" style="background-color: rgb(249, 114, 109);" data-dismiss="modal" >Close</button>
      </div>
    </div>
  </div>
</div>
